{{ define "main" }}

<head>
    <title>Cours</title>
     <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
     <!-- Popper JS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
 
     <!-- Latest compiled JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 

</head>

<div class="container d-flex align-items-center" style="height: 100vh;">
    <div class="mx-auto text-center">
        <h1>Cours</h1>
        <p>Vous trouverez dans cette section les cours de première année en science et technologie. Profitez bien des cours!</p>
        
        
        <a href="/pdfs/algo_base.pdf" class="btn btn-primary">Cliquez ici pour accéder aux cours</a>
        <p>Voici quelques ressources pour apprendre les algorithmes :</p>
        <ul>

            <li><a href="https://www.geeksforgeeks.org/fundamentals-of-algorithms/">GeeksforGeeks : Fondamentaux des algorithmes</a></li>
        </ul>

    </div>
</div>



{{ end }}