
{{ define "main" }}

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>

<main class="container" aria-label="Content">
    <article>
        <header class="header">
            <h1 class="header-title" >Serie d'exercice ST </h1>       
        </header>
        
        <div class="container d-flex lign-items-center" style="height: 100vh;">
            <div class="mx-auto textcenter">
                    <p>
                        <a href="/pdfs/algo_serie_3_pour.pdf" class="btn btn-success">Serie 3 Algorithmique ST L1</a>
                    </p>
                    
                    <p>
                        <a href="/pdfs/algo_serie_4_pour.pdf" class="btn btn-success" >Serie 4 Algorithmique ST L1</a>
                    </p>
                    <p>
                        <a href="/pdfs/algo_serie_5_pour.pdf" class="btn btn-success">Serie 5 Algorithmique ST L1</a>
                    </p>
            </div>
        </div>
    </article>
</main>

{{ end }}
